.product-card-container {
  max-width: 300px;
  height: 100%;
  position: relative;
}

.product-card-top-container {
  border-bottom: 1px solid var(--gray-25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img{
  height: 120px;
}

.product-card-bottom-container {
  padding: 15px;
}

.product-title {
  color: var(--gray-100);
}

.product-price {
  bottom: 0;
  color: var(--blue-100);
  font-size: 24px;
  font-weight: bold;
}

@media(min-width: 576px){
  .product-img{
    height: 148px;
  }
}

@media(min-width: 768px){
  .product-img{
    height: 200px;
  }
}
