.home-container{
  padding: 10px;
  max-width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  margin: 15px 0;
  text-align: center;
  color: var(--blue-100);
}

.home-subtitle-content {
  position: relative;
}

.home-subtitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
  color: var(--gray-75);
}

.home-subtitle-content img {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%,-50%);
  margin: auto;
  width: 140px;
  height: auto;
  opacity: 0.20;
}

.home-card-content{
  padding: 10px;
  width: 100%;
}

.home-input-cep-container{
  width: 100%;
}

.input-cep {
  margin-bottom: 10px;
}

@media(min-width: 576px){
  .home-container{
    padding: 30px;
  }

  .home-subtitle {
    margin: 15px 10px;
  }

  .home-subtitle-content img {
    top: 50%;
    width: 120px;
  }

  .home-card-content{
    margin-top: 15px;
    padding: 15px;
  }
}

@media(min-width: 768px){
  .home-container{
    padding: 40px;
  }

  .home-subtitle {
    font-size: 22px;
    margin: 15px 60px;
  }

  .home-card-content{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    width: 500px;
  }

  .input-cep{
    margin-bottom: 0;
    width: 70%;
    border-radius: 5px 0 0 5px !important;
  }

  .home-card-content button{
    width: 30%;
    border-radius: 0 5px 5px 0;
  }
}

@media(min-width: 992px){
  .home-title{
    font-size: 42px;
    margin: 20px 0;
  }

  .home-subtitle {
    font-size: 26px;
    margin: 20px 10px;
  }

  .home-card-content{
    margin-top: 20px;
  }
}
