.header-content{
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-25);
}

.header-logo {
  height: 30px;
  margin: 0 5px 0 15px;
}

.header-title {
  color: var(--blue-100);
}
