@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

#root{
  margin-bottom: 80px;
  --blue-100: #1852cc;
  --gray-25: #cfcfcf;
  --gray-50: #a3a3a3;
  --gray-75: #6e6e6e;
  --gray-100: #414141;
  --white: #fff;

}

.container {
  margin: 10px 10px 10px 0;
}

.base-card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.base-input {
  border-radius: 5px;
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  height: 50px;
}
