h1,
h6,
p {
  color: var(--gray-100);
}

.product-detail-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-datail-principal, .product-detail-description {
  padding: 10px;
  margin-bottom: 10px;
}

.product-detail-img {
  width: 100%;
}

.product-name {
  font-size: 20px;
}

.product-brand {
  font-size: 14px;
}

.product-price {
  color: var(--blue-100);
  font-size: 24px;
  font-weight: bold;
}

.product-detail-name button {
  margin-bottom: 10px;
}

.product-payment-options {
  width: 100%;
}

.product-description-title {
  color: var(--blue-100);
  font-weight: bold;
}
